body {
  background-color: #f9f7f7;
}
hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
  border-color: #dbe2ef;
}
h1 {
  color: #3f72af;
  font-family: Georgia, serif;
  text-shadow: 5px 5px 5px #dbe2ef;
}
h3 {
  text-align: center;
  color: #3f72af;
}
img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px #3f72af;
  background-color: #dbe2ef;
}
a{
  color: #F9F7F7;
  background-color: #3F72AF;
  text-decoration: none;
  padding: 1px;
  transition: background-color 1s;
}
a:hover {
  background-color: #F9F7F7;
  color: #3F72AF;
  font-size: 40px;
}


